* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url("/bg.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.container{
  width: 90vw;
  height: 90vh;
  background-color: rgba(56, 133, 129, 0.684);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  display: flex;
}
.loading{
  height: 60px;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color:rgba(17, 25, 40, 0.9);
}